
NeverSink's filter - 1-REGULAR.filter

NeverSink's filter - 2-SEMI-STRICT.filter

NeverSink's filter - 3-STRICT.filter

NeverSink's filter - 4-VERY-STRICT.filter

NeverSink's filter - 5-UBER-STRICT.filter

NeverSink's filter - 6-UBER-PLUS-STRICT.filter

(STYLE) CUSTOMSOUNDS/NeverSink's filter - 0-SOFT (CustomSounds) .filter

(STYLE) CUSTOMSOUNDS/NeverSink's filter - 1-REGULAR (CustomSounds) .filter

(STYLE) CUSTOMSOUNDS/NeverSink's filter - 2-SEMI-STRICT (CustomSounds) .filter

(STYLE) CUSTOMSOUNDS/NeverSink's filter - 3-STRICT (CustomSounds) .filter

(STYLE) CUSTOMSOUNDS/NeverSink's filter - 4-VERY-STRICT (CustomSounds) .filter

(STYLE) CUSTOMSOUNDS/NeverSink's filter - 5-UBER-STRICT (CustomSounds) .filter

(STYLE) CUSTOMSOUNDS/NeverSink's filter - 6-UBER-PLUS-STRICT (CustomSounds) .filter
